<header ng-include="'/views/partials/header.html'"></header>
<div class="container">
  <div ng-include="'views/partials/nav.html'"></div>
  <button class="btn btn-default" ng-click="logout()">Log Out</button>
  <div class="row">
    <div class="col-md-6">
      <h2>Check out this student's lessons!</h2>
      <p>sweet, sweet list of lessons to go here</p>
      <div ng-repeat="lesson in lessonList.lessons" ng-show="lesson.student == studentObject.data.name" >
          <p>{{ lesson.student + lesson.date + " " + lesson.description }}</p>
      </div>
    </div>
    <!-- <p>{{  studentObject.data.instrument  }}</p> -->
    <div class="col-md-6">
      <button class="btn btn-default btn-lg" ng-click="addLesson()">Add A New Lesson</button>
    </div>
  </div>
</div>
