<header ng-include="'/views/partials/header.html'"></header>
<div class="container">
  <div ng-include="'views/partials/nav.html'"></div>
  <h1> Lesson Details </h1>

  <!-- plain view, no edit mode:  -->
  <div class="row" ng-if="editing.status === 'FALSE'">
    <div class="col-xs-12">
      <div class="well"> Student: {{studentObject.data.name}}</div>
      <div class="well"> Date:  {{lessonObject.data.date}} </div>
      <div class="well"> Description: {{lessonObject.data.description}} </div>
    </div>
  </div>

<!-- form for editing-->
<div class="row" ng-if="editing.status === 'TRUE'">
  <div class="col-lg-12">
    <div class="well"> Student: {{studentObject.data.name}}</div>
    <form ng-submit="updateLesson(lesson)">
      <div class="form-group">
        <label for="date">Lesson Date</label>
        <input class="form-control" type="date" ng-model="lesson.date">{{lessonObject.data.date}}</input>
      </div>
      <div class="form-group">
        <label for="description">Lesson Details: </label>
        <input class="form-control" rows="3" ng-model="lesson.description">{{lessonObject.data.description}}</input>
      </div>
      <input class="btn btn-success" type="submit" name="lesson.submit" value="Save Updated Lesson"/>
    </form>
          <br>
  </div>
</div>

<!-- bottom of page buttons -->
  <div class="row">
    <div class="col-xs-12">
      <button type="button" class="btn btn-success" ng-show="lessonObject.data.assigned == false"
              ng-click="assignLesson(lessonObject.data)">Email to Student</button>
      <button type="button" class="btn btn-success" ng-show="lessonObject.data.assigned == true"
              disabled="disabled">Email to Student</button>
      <button type="button" class="btn btn-primary" ng-click="changeEditing()">Edit Lesson Details</button>
      <button type="button" class="btn btn-danger" ng-click="deleteLesson(lessonObject.data)">Delete this lesson</button>
      <!-- <a href="#mystudent" class="btn btn-info">Go Back</a> -->
      <a href="#mystudent">Go Back</a>
    </div>
  </div>
</div>

      <!-- ng-show="lessonObject.data.assigned = FALSE" -->
