html {
  background-color: #C1666B;
  font-family: 'Roboto', sans-serif;
}

main {
  background-color: #E4DFDA
}

.login {
  border: 10px black;
}
.instructions .container h1 {
    font-size: 24px;
    font-weight: 700;
}

.instructions {
    background-color: #48A9A6;
    color: #E4DFDA;
}

#entryForm {
    margin-top: 14px;
    background-color: #E4DFDA;
}

#container {
    margin-top: 10px;
}

.container p{
    margin-top : 14px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.btn-danger{
    margin-left: 10px;
}
