html {
  background-color: #48A9A6;
}

body {
  background-image: url("violin.jpeg");
}

.addform {
  padding-bottom: 10px;

}
#studentList {
  height: 70%;
  overflow: auto;
  font-size: 18px;
}

#demo {
  color: red;
  font-style: italic;
}
main {
  background-color: #F9F8F8;
}

.list {
  cursor: pointer;
}

.top {
  padding: 90px;
  text-align: center;
  background-color: #F9F8F8;
}

.landing {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
  background-color: #48A9A6;
}

#front {
  font-size: 75px;
  color: #48A9A6;
  padding-bottom: 10px;
  padding-top: 10px;
}

.landing h1 {
  font-weight: 700;
  /*text-transform: uppercase;*/
  /*margin-top: 0;
  margin-bottom: 0;*/
  font-size: 50px;
  /*background-color: #4357AD;   */
}

/*.studentList {
    height: 70%;
    overflow: scroll;
}​*/

.landing p {
  color: #2A324B;

}

/*.ng-scope {
  background-color: #BFDBF7;
}*/

#studentinfo {
  padding-top: 20px;
  text-align: center;
}

.login {
  padding: 25px;
  text-align: center;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: #4357AD;
}

#master {
  border-style: solid;
  text-align: center;
  background-color: #4357AD;
  color: #48A9A6;
}

.instructions .container h1 {
    font-size: 24px;
    font-weight: 700;
}

.instructions {
    background-color: #4357AD;
    color: #E4DFDA;
}

#mainbuttons {
  padding-left: 100px;
}

#entryForm {
    margin-top: 14px;
    background-color: #4357AD;
}

#container {
    margin-top: 10px;
}

#nav {
  height: 50px;
  background-color: #767B91;
  color: #F9F8F8;
}

.container p{
    margin-top : 14px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.btn-danger{
    margin-left: 10px;
}
